@page "/editnote/{noteId:int}"
@inject BlazorNotatnik.Data.NoteService NoteService
@inject NavigationManager NavigationManager

<h3>Edytuj notatkę</h3>

@if (note != null)
{
    <form @onsubmit="SaveNote">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" @bind="note.Title" />
            <label for="floatingInput">Tytuł</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 100px" @bind="note.Content"></textarea>
            <label for="floatingTextarea2">Treść notatki</label>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <button type="button" class="btn btn-primary" @onclick="NavigateToNotesList">Powrót do wszystkich notatek</button>
    </form>

    @if (noteEditedSuccessfully)
    {
        <p style="color: green;">Notatka została pomyślnie zaktualizowana.</p>
    }

}
else
{
    <p>Ładowanie notatki...</p>
}

@code {
    [Parameter]
    public int NoteId { get; set; }

    private Note note;
    private bool noteEditedSuccessfully = false;

    protected override async Task OnInitializedAsync()
    {
        note = await NoteService.GetNoteById(NoteId);
    }

    private async Task SaveNote()
    {
        await NoteService.UpdateNote(note);
        noteEditedSuccessfully = true;
    }

    private void NavigateToNotesList()
    {
        NavigationManager.NavigateTo("/notes");
    }
}
