@page "/"
<br />
<br />

<h3>Witamy w notatniku</h3>
       
       <a class="btn btn-outline-primary" href="notes" role="button">Przejdź do notatek</a>
       <a class="btn btn-outline-primary" href="new-note" role="button">Nowa notatka</a>
       <a class="btn btn-outline-primary" href="note-history" role="button">Historia zmian</a>