@inject BlazorNotatnik.Data.NoteService NoteService
@inject NavigationManager NavigationManager

<h3>Dodaj nową notatkę</h3>

<form @onsubmit="SaveNote">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="" />
        <label for="floatingInput">Tytuł</label>
       
    </div>
    <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2" style="height: 100px" @bind="newNoteContent"></textarea>
        <label for="floatingTextarea2">Treść notatki</label>
    </div>
    <button type="submit" class="btn btn-info">Dodaj</button>
    <button type="button" class="btn btn-info" @onclick="NavigateToNotesList">Powrót do wszystkich notatek</button>
</form>

@if (noteAddedSuccessfully)
{
    <p style="color: green;">Notatka została pomyślnie dodana.</p>
}

@code {
    private string newNoteTitle;
    private string newNoteContent;
    private bool noteAddedSuccessfully = false;

    private async Task SaveNote()
    {
        await NoteService.AddNote(newNoteTitle, newNoteContent);
        noteAddedSuccessfully = true;
        newNoteTitle = "";
        newNoteContent = "";
    }
    private void NavigateToNotesList()
    {
        NavigationManager.NavigateTo("/notes");
    }
}
