@page "/notes"
@inject BlazorNotatnik.Data.NoteService NoteService
@inject NavigationManager NavigationManager

<h3>Lista notatek</h3>

@if (notes != null)
{
    <ul>
        @foreach (var note in notes)
        {
            <div class="note-item">
                <h4>@note.Title</h4>
                <p>@note.Content</p>
                <button class="button-19" @onclick="() => EditNote(note.Id)">Edytuj</button>
                <button class="button-19" @onclick="() => DeleteNote(note.Id)">Usuń</button>
            </div>
        }
    </ul>
}
else
{
    <p>Ładowanie notatek...</p>
}

@code {
    private List<Note> notes;

    protected override async Task OnInitializedAsync()
    {
        notes = await NoteService.GetNotes();
    }

    private void EditNote(int noteId)
    {
        NavigationManager.NavigateTo($"/editnote/{noteId}");
    }

    private async Task DeleteNote(int noteId)
    {
        await NoteService.DeleteNote(noteId);
        notes = await NoteService.GetNotes();
    }
}
