@page "/note/{Id:int}"
@inject BlazorNotatnik.Data.NoteService NoteService
@code {
    [Parameter]
    public int Id { get; set; }
    private Note note;

    protected override async Task OnInitializedAsync()
    {
        note = await NoteService.GetNoteById(Id);
    }

    private async Task SaveNote()
    {
        await NoteService.UpdateNote(note);
    }

}

<div>
    <div>
        <input @bind="note.Title" placeholder="Tytuł" />

    </div>
    <div>
        <textarea @bind="note.Content" placeholder="Treść notatki"></textarea>
    </div>


    <button class="button-19" onclick="SaveNote">Zapisz</button>
</div>
