.sidebar {
    width: 200px;
}

.content {
    padding: 20px;

}

body {
    background-color: aquamarine
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}

.note-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 16px;
    width: calc(33.333% - 32px);
    box-sizing: border-box;
}